.aside-left {
    background-color: white;
    border-radius: 12px;
    width: 100%;
    margin-left: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aside-left h1 {
    color: black;
    opacity: 0.7;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.aside-left button {
    all: unset;
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.aside-left img {
    width: 35px;
    height: 35px;
}

.aside-left ul {
    padding-left: 20px;
}

.aside-left li {
    list-style-type: none;
    display: flex;          /* Enable flexbox on the list items */
    align-items: center;    /* Vertically center the icon and text */
    padding-bottom: 20px;
}

.aside-left h3 {
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    line-height: 5px;
}

.aside-left li:last-child {
    padding-bottom: 50px;
}

.aside-left button:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.aside-left button:active {
    background-color: rgb(171, 171, 171);
    cursor: pointer;
}


@media (max-width: 768px) {
    .aside-left {
        margin-left: 15px;
    }
}