/* .full-area {
    display: flex;
    justify-content: flex-start;
}

.full-area aside {
    width: 20%;
}

.full-area main {
    width: 70%;
} */


.full-area {
    display: flex;
    justify-content: flex-start;
    gap: 7%; /* Adjust the gap size as needed */
    margin-top: 10px;
}

.full-area aside {
    flex: 0 0 20%; /* Fixed width at 20% of the container */
}

.full-area main {
    flex: 0 0 calc(70% - 10px); /* Subtracting the gap size */
}
